SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ObtenerUsuariosByListaDistribucion]
      
       @limit int,
       @offset int,
       @listaDistribucionQuery int
AS
BEGIN                      

		-- Limpieza preventiva al inicio del SP
		IF OBJECT_ID('tempdb..##Temporal') IS NOT NULL DROP TABLE ##Temporal;
		IF OBJECT_ID('tempdb..##TempUser') IS NOT NULL DROP TABLE ##TempUser;
		IF OBJECT_ID('tempdb..##TemporalUnicos') IS NOT NULL DROP TABLE ##TemporalUnicos;
		IF OBJECT_ID('tempdb..##HabeasDataAuth') IS NOT NULL DROP TABLE ##HabeasDataAuth;

		/*
        Lista -> @listaDistribucionQuery
        None = 0, LegisMovilAbogados = 1, LegisMovilContadores = 2, LegisAlDia = 3, AmbitoJuridico = 4, BoletinExtraAbogados = 5,
        BoletinExtraContadores = 6, BoletinExtraLegisMovil = 7, BoletinExtraAmbitoJuridico = 8, BoletinExtraPortal = 9, BoletinSemanalAJ = 10*/
		
       declare @count int = 0
       declare @sql nvarchar(MAX)
	   
	   -- Crear tabla temporal con emails autorizados de habeas data
		;WITH HabeasOrdenado AS
		(
			SELECT
				REPLACE(REPLACE(REPLACE(A.EMAIL, ',', ''), '"', ''), ' ', '') AS EMAIL,
				A.CODTIPOAUTORIZACION,
				ROW_NUMBER() OVER (
					PARTITION BY A.EMAIL
					ORDER BY A.FECHAAUTORIZACION DESC
				) AS RN
			FROM [10.250.4.7].[habeasdata].[dbo].TblAutorizacion A
			WHERE 
			  	A.CODTIPOAUTORIZACION = 1
				AND A.EMAIL LIKE '%@%'
				AND (
					A.SITIO LIKE '%AMBITO%'
					OR A.SITIO LIKE '%LEGISALDIA%'
				)
				AND NOT EXISTS (
				SELECT 1
				FROM [10.250.4.7].[habeasdata].[dbo].rebotes_envialo_simple R
				WHERE R.correo_electronico = A.EMAIL
				)
		)
		SELECT DISTINCT EMAIL
		INTO ##HabeasDataAuth
		FROM HabeasOrdenado
		WHERE RN = 1;	
			
	   CREATE NONCLUSTERED INDEX IX_HabeasDataAuth_Email ON ##HabeasDataAuth(EMAIL)
	   		 	   
				   
	   set @sql = '
					SELECT DISTINCT 
						CAST(usu.Id_Usuario AS VARCHAR(50)) AS Id_Usuario,
						usu.Usuario, 
						usu.NomUsuario, 
						c.NomCliente, 
						c.Nid            
					INTO ##Temporal  
					FROM Usuario usu
					INNER JOIN Atencion aten ON aten.CodUsuario = usu.Id_Usuario
					INNER JOIN Suscripcion susc ON susc.CodAtencion = aten.Id_Atencion
					INNER JOIN Producto prod ON susc.CodProducto = prod.Id_Producto
					INNER JOIN AccesoProducto ap ON ap.CodProducto = prod.Id_Producto
					INNER JOIN Acceso a ON ap.Codacceso = a.Id_Acceso					
					LEFT JOIN Sucursal s ON s.Id_Sucursal = aten.CodSucursal
					LEFT JOIN Cliente c ON c.Id_Cliente = s.CodCliente

					INNER JOIN ListaDistribucionProducto ldp 
						ON ldp.Sil_CodProducto = prod.Sil_CodProducto
						AND ldp.CodFilial = prod.CodFilial
						AND ldp.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
						and ldp.Activo = 1
					WHERE 
						susc.FechaFin > GETDATE()
						AND usu.Usuario NOT LIKE ''temporal%@legis.com.co'' '


				IF (@listaDistribucionQuery IN (5,4,8,7))
				BEGIN
					DECLARE @idLista INT = (
						SELECT Id_ListaDistribucion 
						FROM ListaDistribucion 
						WHERE NomListaDistribucion = 'LEGISMOVIL USUARIOS MULTILEGIS'
					);

					SET @sql += '
						INSERT INTO ##Temporal
						SELECT DISTINCT 
							ISNULL(CAST(usu.Id_Usuario AS VARCHAR(50)), NEWID()) AS Id_Usuario, 
							LAD.Email AS Usuario, 
							LAD.Nombre AS NomUsuario, 
							LAD.Nombre AS NomCliente, 
							'''' AS Nid         
						FROM FuenteExterna_**Id_ListaDistribucion** LAD 
						LEFT JOIN ##Temporal usu ON LAD.Email COLLATE Modern_Spanish_CI_AS = usu.Usuario COLLATE Modern_Spanish_CI_AS
						WHERE 
							LAD.RecibirEmail = 1 
							AND LAD.FechaFin > GETDATE() 
							AND usu.Id_Usuario IS NULL
					';

				    SET @sql = REPLACE(@sql, '**Id_ListaDistribucion**', @idLista);
				END

	   if(@listaDistribucionQuery = 1) --LegisMovilAbogados
       begin
	   		set @sql = '
			SELECT CAST(ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS VARCHAR(50)) as Id_Usuario,  NomUsuario, Usuario,NomCliente, Nid            
			into ##Temporal  from 
			(
					SELECT distinct '''' as Id_Usuario,
					case when usu.NomUsuario <> '''' then replace(replace(usu.NomUsuario,'','',''''),''\"'','''') else replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') end as NomUsuario,
					replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') as Usuario, 
					c.NomCliente, 
					c.Nid         
					FROM Usuario usu 
					inner join Atencion aten on aten.CodUsuario = usu.Id_Usuario 
					inner join Suscripcion susc on susc.CodAtencion = aten.Id_Atencion 
					inner join Producto prod on susc.CodProducto = prod.Id_Producto
			        inner join ProductoObraOnLine poo ON poo.CodProducto = prod.Id_Producto AND poo.Activo = 1
                   	inner join ObraOnLine oo ON oo.Id_ObraOnLine = poo.CodObraOnLine AND oo.Activa = 1 
					LEFT JOIN Sucursal s ON s.Id_Sucursal = aten.CodSucursal
					LEFT JOIN Cliente c ON c.Id_Cliente = s.CodCliente
					inner join ListaDistribucionProducto ldp on ldp.Alias COLLATE Modern_Spanish_CI_AS = oo.alias COLLATE Modern_Spanish_CI_AS
						and ldp.CodFilial = prod.CodFilial
						and ldp.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
						and ldp.Activo = 1
					where susc.FechaFin > getdate() 
					and usu.Usuario not like ''temporal%@legis.com.co'' and usu.Usuario not like ''scliente%@legis.com.co'' 

			 ) as tabla
			'
	   end
	   else	   
	   if(@listaDistribucionQuery = 2) --LegisMovilContadores
       begin
			set @sql = '
			SELECT CAST(ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS VARCHAR(50)) as Id_Usuario,  NomUsuario, Usuario, NomCliente, Nid            
			into ##Temporal  from 
			(
				SELECT distinct Id_Usuario,  NomUsuario, Usuario, NomCliente, Nid
				FROM (									
					SELECT distinct '''' as Id_Usuario,
					case when usu.NomUsuario <> '''' then replace(replace(usu.NomUsuario,'','',''''),''\"'','''') else replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') end as NomUsuario,
					replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') as Usuario, 
					c.NomCliente, 
					c.Nid        
					FROM Usuario usu 
					inner join Atencion aten on aten.CodUsuario = usu.Id_Usuario 
					inner join Suscripcion susc on susc.CodAtencion = aten.Id_Atencion 
					inner join Producto prod on susc.CodProducto = prod.Id_Producto 
					LEFT JOIN Sucursal s ON s.Id_Sucursal = aten.CodSucursal
					LEFT JOIN Cliente c ON c.Id_Cliente = s.CodCliente
					inner join ListaDistribucionProducto ldp on ldp.Sil_CodProducto = prod.Sil_CodProducto
						and ldp.CodFilial = prod.CodFilial
						and ldp.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
						and ldp.Activo = 1
					where susc.FechaFin > getdate() 
					and usu.Usuario not like ''temporal%@legis.com.co'' and usu.Usuario not like ''scliente%@legis.com.co''
					UNION select  distinct '''' as Id_Usuario,
					case when usu.NomUsuario <> '''' then replace(replace(usu.NomUsuario,'','',''''),''\"'','''') else replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') end as NomUsuario,
					replace(replace(replace(usu.Usuario,'','',''''),''\"'',''''),'' '','''') as Usuario, 
					c.NomCliente, 
					c.Nid       
					FROM usuario usu 
					inner join Atencion aten on aten.CodUsuario = usu.Id_Usuario 
					inner join Suscripcion susc on susc.CodAtencion = aten.Id_Atencion 
					inner join Producto prod on	susc.CodProducto = prod.Id_Producto 
					LEFT JOIN Sucursal s ON s.Id_Sucursal = aten.CodSucursal
					LEFT JOIN Cliente c ON c.Id_Cliente = s.CodCliente
					inner join ListaDistribucionProducto ldp2 on ldp2.Sil_CodProducto = prod.Sil_CodProducto
						and ldp2.CodFilial = prod.CodFilial
						and ldp2.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
						and ldp2.Activo = 1
					where susc.FechaFin > getdate() and usu.Usuario=''rhoyos@pkfcabrera.com'' 
					and prod.Sil_CodProducto not in (8890, 806000119)
				) as Subquery
			 ) as tabla
			'
	   end
	   else
	   if(@listaDistribucionQuery = 3) --LegisAlDia: solo Usuario (LegisAlDia)
       begin
           set @sql = '
			SELECT CAST(ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS VARCHAR(50)) as Id_Usuario, Usuario, NomUsuario,NomCliente, Nid            
			into ##Temporal  from 
			(
				SELECT distinct Id_Usuario, Usuario, NomUsuario, NomCliente, Nid
				FROM (
				    SELECT distinct '''' as Id_Usuario,  replace(replace(replace(s1.Email,'','',''''),''\"'',''''),'' '','''') as Usuario,
                         case when s1.NomSuscriptor <> '''' then replace(replace(s1.NomSuscriptor,'','',''''),''\"'','''') 
                         else replace(replace(replace(s1.Email,'','',''''),''\"'',''''),'' '','''') end as NomUsuario, 
                         s1.NomSuscriptor as  NomCliente, '''' as Nid  
                         FROM  [10.250.4.7].[LegisAlDiaV2].[dbo].[SeleccionEnvioBoletin] s1 
                         WHERE s1.ListaDistribucion=''LEGIS AL DIA V2 P00100'' 
                         and s1.Email not like ''temporal%@legis.com.co'' 
                         and s1.Email <> (''scliente@legis.com.co'') 
                         and s1.email COLLATE Modern_Spanish_CI_AS not in ( 
                             SELECT  usu.Usuario FROM Usuario usu 
                             inner join Atencion aten on aten.CodUsuario = usu.Id_Usuario 
                             inner join Suscripcion susc on susc.CodAtencion = aten.Id_Atencion 
                             inner join Producto prod on susc.CodProducto = prod.Id_Producto  
                            inner join ProductoObraOnLine poo ON poo.CodProducto = prod.Id_Producto AND poo.Activo = 1
                            inner join ObraOnLine oo ON oo.Id_ObraOnLine = poo.CodObraOnLine AND oo.Activa = 1 

                            INNER JOIN ListaDistribucionProducto ldp ON ldp.Alias COLLATE Modern_Spanish_CI_AS = oo.Alias COLLATE Modern_Spanish_CI_AS
                                   AND ldp.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
                                   AND ldp.CodFilial = prod.CodFilial
                                   AND ldp.Activo = 1
                             where susc.FechaFin > getdate() and usu.Usuario not like ''temporal%@legis.com.co'' 
                             and usu.Usuario not like ''scliente%@legis.com.co'' and usu.usuario not like ''%@legis%'' 
                             UNION SELECT  fe3.email  from FuenteExterna_3 fe3
                             WHERE fe3.RecibirEmail=1 and fe3.email not like ''%@legis%'' 
                             and fe3.fechafin>=getdate()
                         ) 

                         union select distinct '''' as Id_Usuario,    
                          replace(replace(replace(fe210.Email,'','',''''),''\"'',''''),'' '','''') as Usuario,
                         case when fe210.NomFuenteExterna <> '''' then replace(replace(fe210.NomFuenteExterna,'','',''''),''\"'','''') 
                         else replace(replace(replace(fe210.Email,'','',''''),''\"'',''''),'' '','''') end as NomUsuario,
                         fe210.NomFuenteExterna as  NomCliente, '''' as Nid  
                         from [10.250.4.7].[NuevoLegisMovil].[dbo].[fuenteexterna_210] fe210
                         where fe210.RecibirEmail=1 and fe210.Email  not like ''temporal%@legis.com.co'' 
                         and fe210.email COLLATE Modern_Spanish_CI_AS not in ( 
                             SELECT distinct usu.Usuario FROM Usuario usu 
                             inner join Atencion aten on aten.CodUsuario = usu.Id_Usuario 
                             inner join Suscripcion susc on susc.CodAtencion = aten.Id_Atencion 
                             inner join Producto  prod on susc.CodProducto = prod.Id_Producto 
                             inner join ProductoObraOnLine poo ON poo.CodProducto = prod.Id_Producto AND poo.Activo = 1
                             inner join ObraOnLine oo ON oo.Id_ObraOnLine = poo.CodObraOnLine AND oo.Activa = 1 
                             inner join ListaDistribucionProducto ldp ON ldp.Alias COLLATE Modern_Spanish_CI_AS = oo.Alias COLLATE Modern_Spanish_CI_AS
                                   AND ldp.IdLista = ' + CAST(@listaDistribucionQuery AS VARCHAR) + '
                                   AND ldp.CodFilial = prod.CodFilial
                                   AND ldp.Activo = 1
                             where susc.FechaFin > getdate() and usu.Usuario not like ''temporal%@legis.com.co'' 
                             and usu.Usuario not like ''scliente%@legis.com.co'' and usu.usuario not like ''%@legis%''
                             UNION  SELECT fe3.email from FuenteExterna_3 fe3
                             WHERE fe3.RecibirEmail=1 and fe3.email not like ''%@legis%'' and fe3.fechafin>=getdate()
                         ) 

						
					) as Subquery
			 ) as tabla'

       end
	   else
	   if(@listaDistribucionQuery = 10) --BoletinSemanalAJ
       begin
			set @sql = 'SELECT DISTINCT 
						CAST(usu.Id_Usuario AS VARCHAR(50)) AS Id_Usuario,
						usu.Usuario, 
						usu.NomUsuario, 
						c.NomCliente, 
						c.Nid            
					INTO ##Temporal  
					FROM Usuario usu
					INNER JOIN Atencion aten ON aten.CodUsuario = usu.Id_Usuario
					INNER JOIN Suscripcion susc ON susc.CodAtencion = aten.Id_Atencion
					INNER JOIN Producto prod ON susc.CodProducto = prod.Id_Producto
	                inner join productoObraOnline poo on poo.codProducto = prod.Id_Producto AND poo.Activo = 1
				    inner join ObraOnline oo on oo.id_ObraOnline = poo.codObraonline   AND oo.Activa = 1 
					inner join accesoProducto acsprod on acsprod.CodProducto = susc.CodProducto  
					inner join Acceso acs on acsprod.CodAcceso = acs.Id_Acceso  
					inner join AplicacionWeb apweb on apweb.Id_AplicacionWeb = acs.CodAplicacionWeb  					
					LEFT JOIN Sucursal s ON s.Id_Sucursal = aten.CodSucursal
					LEFT JOIN Cliente c ON c.Id_Cliente = s.CodCliente
					WHERE 
					    apweb.id_aplicacionweb in (12,201)
						AND susc.FechaFin > GETDATE() and prod.codfilial = 6
						AND usu.Usuario NOT LIKE ''temporal%@legis.com.co''
						AND USU.USUARIO NOT LIKE ''SCLIENTE%@LEGIS.COM.CO'''
	   end
	   		 	    

       EXEC sp_executesql @sql
	   CREATE NONCLUSTERED INDEX IX_Temporal_Usuario 
		ON ##Temporal(Usuario);

	   -- Procesar correos de usergroup: buscar usuarios asociados en Keycloak antes de eliminarlos
	   DECLARE @UserGroupEmail VARCHAR(255)
	   DECLARE @KeycloakSQL nvarchar(MAX)
 
	   /* =============================== USERGROUP SOLO LOS FILTRADOS ================================*/
		if(@listaDistribucionQuery in (1,2,3,10)) 
		  begin
				INSERT INTO ##Temporal (Id_Usuario, Usuario, NomUsuario, NomCliente, Nid)
				SELECT DISTINCT
					CAST(u.Id_Usuario AS VARCHAR(50)) AS Id_Usuario,
					REPLACE(FM.USER_ID, 'f:bd03591f-be73-4be4-b7ed-a7c264d01cd9:', '') AS Usuario,
					u.NomUsuario,
					T.NomCliente,
					T.Nid
				FROM ##Temporal T
				INNER JOIN [10.250.4.29].[keycloak].[dbo].[KEYCLOAK_GROUP] KG
					ON KG.NAME COLLATE Modern_Spanish_CI_AS = T.Usuario COLLATE Modern_Spanish_CI_AS
				INNER JOIN [10.250.4.29].[keycloak].[dbo].[FED_USER_GROUP_MEMBERSHIP] FM
					ON FM.GROUP_ID = KG.ID
				INNER JOIN Usuario u
					ON REPLACE(FM.USER_ID COLLATE Modern_Spanish_CI_AS,'f:bd03591f-be73-4be4-b7ed-a7c264d01cd9:', '')
					   = u.Usuario COLLATE Modern_Spanish_CI_AS
				WHERE T.Usuario LIKE 'usergroup%@%'
				AND u.Id_Usuario IS NOT NULL
		   end 
		
	   -- Eliminar los correos de usergroup de ##Temporal
	   DELETE FROM ##Temporal
	   WHERE Usuario LIKE 'usergroup%@urllegis.com'
	   
	   -- Filtrar por habeas data: eliminar usuarios no autorizados
	   DELETE T
		FROM ##Temporal T
		WHERE NOT EXISTS (
			SELECT 1
			FROM ##HabeasDataAuth H
			WHERE H.EMAIL COLLATE Modern_Spanish_CI_AS = T.Usuario COLLATE Modern_Spanish_CI_AS
		)
		AND T.Usuario NOT LIKE '%@legis.com.co';

	    -- Eliminar duplicados por correo: mantener solo un registro por correo
	    -- Se crea una tabla temporal con los registros unicos por correo
	    SELECT 
			Id_Usuario, Usuario, NomUsuario, NomCliente, Nid
		INTO ##TemporalUnicos
		FROM (
			SELECT 
				Id_Usuario, Usuario, NomUsuario, NomCliente, Nid,
				ROW_NUMBER() OVER (
					PARTITION BY REPLACE(REPLACE(REPLACE(Usuario COLLATE Modern_Spanish_CI_AS,',',''),'"',''),' ','') 
					ORDER BY 
						CASE WHEN Id_Usuario <> '''' THEN 1 ELSE 2 END, -- Priorizar registros con Id_Usuario
						CASE WHEN NomUsuario <> '''' AND NomUsuario IS NOT NULL THEN 1 ELSE 2 END,  -- Luego los que tienen NomUsuario
						Id_Usuario, Usuario
				) AS RowNum
			FROM ##Temporal
		) AS Ranked
		WHERE RowNum = 1
		
		-- Crear tabla final paginada desde los registros únicos
		SELECT  
			s.Id_Usuario,
			s.Usuario,
			s.NomUsuario,
			s.NomCliente,
			s.Nid,
			ROW_NUMBER() OVER (ORDER BY s.Usuario ASC) AS RowNum
		INTO ##TempUser
		FROM ##TemporalUnicos s;
		
		CREATE NONCLUSTERED INDEX IX_TempUser_RowNum 
		ON ##TempUser(RowNum);


	   SELECT @count = COUNT(*) FROM ##TempUser

      SELECT 
			TU.Id_Usuario,
			TU.Usuario,
			TU.NomUsuario,
			TU.NomCliente,
			TU.Nid,
			@count AS conteo
		FROM ##TempUser TU
		WHERE TU.RowNum > @offset
		  AND TU.RowNum <= @offset + @limit
		ORDER BY TU.Usuario;
          

       DROP TABLE ##TempUser
	   DROP TABLE ##Temporal
	   DROP TABLE ##TemporalUnicos
	   DROP TABLE ##HabeasDataAuth

END